:root {
    --primary-1-color: #ffffff;
    --primary-2-color: #ffebc7;
    --primary-font-color: #000000;
}

@font-face {
    font-family: 'Momo';
    src: url('./fonts/MomoTrustDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Momo';
}

header {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100vw;
    z-index: 9999;

}

.profileDecorate {
    background-color: white;
    max-width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: -1;
    transition: 1s ease-out;
}

header h1 {
    margin: 0;
    padding-left: 0.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    box-sizing: border-box;
}

.navComponent {
    height: 100%;
    display: flex;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    color: var(--primary-font-color);
    text-decoration: none;
    width: 4em;
}

nav a:hover {
    background-color: rgb(0, 0, 0, 0.3);
    color: var(--primary-1-color);
    text-decoration: underline;
    transition: 0.2s linear;
}


main section {
    height: 100vh;
    width: 100vw;
    padding: 2em;
    box-sizing: border-box;
    text-align: left;
}

main section:nth-child(even) {
    background-color: var(--primary-2-color);
}

main section:nth-child(odd) {
    background-color: var(--primary-1-color);
}

main section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Home div,
#Profile div {
    width: 40vw;
    display: flex;
    flex-direction: column;

}

main section h1 {
    font-size: 3em;
    margin: 0;
}

main section p {
    font-size: medium;
    margin: 0.5em 0;
}

#Home h1,
#Home p,
.profilePhoto {
    opacity: 0;
    transform: translateX(-50px);
    transition: 1s ease-out;
}


#Home p {
    margin: 1em;
    font-size: large;
}

#Profile .infoContainer {
    display: flex;
    flex-direction: row;
    max-width: 40vw;
    scroll-behavior: smooth;
    overflow: hidden;
}

#Profile .infoContainer div {
    min-width: 40vw;
}

.navDots {
    text-align: center;
    margin-top: 10px;
    max-width: fit-content;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #555;
}




#Home div.animate,
#Home div.animate h1,
#Home div.animate p,
#Profile .infoContainer.animate,
#Profile .profilePhoto.animate {
    opacity: 1;
    transform: translateX(0);
}

#Profile .profilePhoto.animate .profileDecorate {
    width: 50%;
}



.homePhoto,
#Profile .infoContainer {
    transform: translateX(50px);
    opacity: 0;
    transition: 1s ease-out;
}

.photoContainer {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.homePhoto img {
    max-width: 40vw;
    aspect-ratio: 1/1;
}

.profilePhoto img {
    max-width: 50vw;
    max-height: 80vh;
}

#Profile h3 {
    margin: 0;
}

#projectScrollingContainer {
    width: fit-content;
    top: 0;
    /* or any fixed height you like */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
    overflow-x: hidden;
}

#projectScrollingContainer::-webkit-scrollbar {
    width: 10px;
}

#projectScrollingContainer::-webkit-scrollbar-track {
    background-color: var(--primary-1-color);
    border-radius: 5px;
}

#projectScrollingContainer::-webkit-scrollbar-thumb {
    background-color: var(--primary-2-color);
    border-radius: 5px;
}

#projectScrollingContainer::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

#Project{
    min-height: 100vh;
    overflow: hidden;
    align-items: initial;
}


.projectCard {
    width: 100%;
    padding: 1em;
    height: 30em;
    box-sizing: border-box;
    background-color: var(--primary-2-color);
    border-radius: 2em;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.projectCard h3{
    text-align: center;
    text-overflow: ellipsis;
    height: 2em;
}

.projectCard p{
    height: 100%;   
    font-size: 0.8em;   
}

.projectCard .stateContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    box-sizing: border-box;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    width: 100%;
    background-color: var(--primary-2-color);
    display: flex;
    justify-content: center;
}

.projectCard .state{
    bottom: 1em;
    padding: 0 0.5em;
    border-radius: 0.4em;
}

.projectCard .state.Ended{
    background-color: #555;
    color: white;
}

.projectCard .state.Test{
    background-color: #3bb4ff;
    color: white;
}

.projectCard .state.Demo{
    background-color: #45ff86;
    color: white;
}

.projectCard .state.Planing{
    background-color: #cf31ff;
    color: white;
}

.projectCard .state.Design{
    background-color: #e7ff31;
    color: white;
}

.projectCard .state.Dev{
    background-color: #3138ff;
    color: white;
}

.projectCard .state.Hold{
    background-color: #ff3131;
    color: white;
}

.projectCard .projectImage{
    background-color: #dbd7d7;
    border: 1px solid #bbb;
    height: 10em;
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.contactPhone{
    display: none !important;
    height: 3em;
}

.contactPhone span a img{
    max-height: 1.5em;
    aspect-ratio: 1/1;
}

@media (max-width:800px) {
    header h1 {
        display: none;
    }

    .navComponent {
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }

    .homePhoto {
        width: 100vw;
        overflow: hidden;
        height: 30vh;
    }

    .homePhoto img {
        height: 100%;
        max-width: none;
        aspect-ratio: 1/1;
        width: auto;
    }

    #Profile .photoContainer {
        overflow: hidden;
        justify-content: start;
        height: 30vh;
    }

    #Profile .infoContainer {
        max-width: 100vw;
    }

    #Profile .infoContainer div {
        width: fit-content;
    }

    .navDots {
        display: none !important;
    }

    #Home div,
    #Profile div {
        width: 100%;
    }

    #otherInfo {
        display: none !important;
    }

    main section h1 {
        font-size: 1.3em;
        margin: 0.5em auto;
    }

    #basicInfo p {
        font-size: 0.8em;
    }

    main section {
        padding: 3em 1em;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        text-align: center;
    }

    .profileDecorate {
        width: 50% !important;
        transition: 1s ease-out;
    }

    #Profile .profilePhoto.animate .profileDecorate {
        width: 100% !important;
    }

    #Profile br{
        height: 0.5em;
    }

    #projectScrollingContainer {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1em;
        overflow-x: scroll;
        overflow-y: hidden;
        box-sizing: border-box;
        align-items: center;
        padding: 0;
    }

    .projectCard {
        min-width: 80vw;
        max-width: 70vw;
        padding: 1em;
        max-height: 80vh;
        min-height: 80vh;
        box-sizing: border-box;
        background-color: var(--primary-2-color);
        border-radius: 2em;
        text-align: left;
    }
    .projectCard p{
        font-size: 0.8em;
        min-height: 15em;
        max-height: 22em;
    }

    .contactPhone{
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around;
        align-items: center;
        min-width: 100% !important;
    }


}