:root {
    --primary-1-color: #ffffff;
    --primary-2-color: #ffebc7;
    --primary-font-color: #000000;
}

@font-face {
    font-family: 'Momo';
    src: url('./fonts/MomoTrustDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Momo';
}

header {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100vw;
    z-index: 9999;

}

.profileDecorate{
    background-color: white;
    max-width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: -1;
    transition: 1s ease-out;
}

header h1 {
    margin: 0;
    padding-left: 0.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    box-sizing: border-box;
}

.navComponent {
    height: 100%;
    display: flex;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    color: var(--primary-font-color);
    text-decoration: none;
    width: 4em;
}

nav a:hover {
    background-color: rgb(0, 0, 0, 0.3);
    color: var(--primary-1-color);
    text-decoration: underline;
    transition: 0.2s linear;
}


main section {
    height: 100vh;
    width: 100vw;
    padding: 2em;
    box-sizing: border-box;
    text-align:left;
}

main section:nth-child(even) {
    background-color: var(--primary-2-color);
}

main section:nth-child(odd) {
    background-color: var(--primary-1-color);
}

main section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Home div,
#Profile div {
    width: 40vw;
    display: flex;
    flex-direction: column;

}

main section h1 {
    font-size: 3em;
    margin: 0;
}

main section p {
    font-size: medium;
    margin: 0.5em 0;
}

#Home h1,
#Home p,
.profilePhoto{
    opacity: 0;
    transform: translateX(-50px);
    transition: 1s ease-out;
}


#Home p {
    margin: 1em;
    font-size: large;
}

#Profile .infoContainer{
    display: flex;
    flex-direction: row;
    max-width: 40vw;
    scroll-behavior: smooth;
    overflow: hidden;
}

#Profile .infoContainer div{
    min-width: 40vw;
}

.navDots {
    text-align: center;
    margin-top: 10px;
    max-width: fit-content;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #555;
}




#Home div.animate,
#Home div.animate h1,
#Home div.animate p,
#Profile .infoContainer.animate,
#Profile .profilePhoto.animate{
    opacity: 1;
    transform: translateX(0);
}

#Profile .profilePhoto.animate .profileDecorate{
    width: 50%;
}



.homePhoto,
#Profile .infoContainer{
    transform: translateX(50px);
    opacity: 0;
    transition: 1s ease-out;
}

.photoContainer {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

.homePhoto img {
    max-width: 40vw;
    aspect-ratio: 1/1;
}

.profilePhoto img {
    max-width: 50vw;
    max-height: 80vh;
}

#Profile h3{
    margin: 0;
}

@media (max-width:800px) {
    header h1 {
        display: none;
    }

    .navComponent {
        display: flex;
        width: 100vw;
        justify-content: space-around;
    }

    .homePhoto {
        width: 100vw;
        overflow: hidden;
        height: 30vh;
    }

    .homePhoto img {
        height: 100%;
        max-width: none;
        aspect-ratio: 1/1;
        width: auto;
    }

    #Profile .photoContainer{
        overflow: hidden;
        justify-content: start;
        height: 30vh;
    }

    #Profile .infoContainer{
        max-width: 100vw;
    }
    #Profile .infoContainer div{
        min-width: fit-content;
    }

    .navDots{
        display: none !important;
    }

    #Home div,
    #Profile div{
        width: 100%;
    }

    #otherInfo{
        display: none !important;
    }

    main section h1 {
        font-size: 1.3em;
        margin: 1em auto;
    }

    main section {
        padding: 3em;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        text-align: center;
    }

    .profileDecorate{
        width: 50% !important;
        transition: 1s ease-out;
    }

    #Profile .profilePhoto.animate .profileDecorate{
        width: 100% !important;
    }

}